<head>
    <script src="/socket.io/socket.io.js"></script>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Friends</title>
    <link rel="stylesheet" type="text/css" href="/client/style.css"/>
</head>

<body>
    <div class="topnav">
        <a href="/client/main.html">Home</a>
        <a href="/client/waiting.html">TicTacToe</a>
        <a href="/client/leaderboard.html">Leaderboard</a>
        <a href="/client/profile.html">Profile</a>
        <a class = "actice" href="#Friends">Friends</a>
    </div>
    <table border = "1">
        <tr><th>User ID</th><th>User Name</th><th>Email</th></tr>
        <% for (var i = 0; i < User.length; i++) {%>
        <tr><td><%= User[i].getId() %></td>
        <td><%= User[i].getName() %></td>
        <td><%= User[i].getEmail() %></td>
        </tr>
        <%}%>
        </table>
</body>